body {
  font-family: "bebas", sans-serif;
  background-color: lightgray;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.container img {
  float: right;
}
.img-responsive {
  width: 100%;
  display: block;
}

.grid {
  display: grid;
  grid-gap: 45px;
}

.grid-2-col {
  grid-template-columns: 1fr 1fr;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/handyman.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  color: white;
  padding: 0px 60px 60px 60px;
}

header h1 {
  font-size: 86px;
  font-weight: 700;
  line-height: 1;
  margin: 30px 0;
  padding-top: 200px;
}
header h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

header a {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #3273aa;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
}

.about {
  background-color: white;
}

.intro-text {
  margin-top: 40px;
  margin-right: 40px;
}

.about {
  margin-top: 30px;
  margin-bottom: 20px;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #aa6833;
  margin: 0;
  text-transform: uppercase;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: black;
  margin: 0;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: black;
  opacity: 0.7;
}

.offerings {
  background-color: #2a2a2a;
  padding: 40px 40px 60px 40px;
}

.offerings h3 {
  color: #aa6833;
  font-size: 62px;
  text-align: center;
}

.offerings h4 {
  text-align: center;
  color: white;
  opacity: 0.8;
  margin-bottom: 20px;
}

.card-title {
  color: #3273aa;
}

.card {
  border: none;
}

.image-gallery {
  padding: 20px 20px 20px 20px;
  background-color: white;
  margin-bottom: 20px;
  margin-top: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(12, 5vw);
  grid-gap: 14px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: none;
  display: block;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 7;
  margin-bottom: 0;
}

.gallery__item--2 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
  margin-bottom: 0;
}

.gallery__item--3 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 4;
  margin-bottom: 0;
}

.gallery__item--4 {
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 4;
  grid-row-end: 7;
  margin-bottom: 0;
}
.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 10;
  margin-bottom: 0;
}
.gallery__item--6 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 7;
  grid-row-end: 13;
  margin-bottom: 0;
}
.gallery__item--7 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 10;
  grid-row-end: 13;
  margin-bottom: 0;
}
.gallery__item--8 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 10;
  grid-row-end: 13;
  margin-bottom: 0;
}

.grid-3-col-with-first-col-narrow {
  grid-template-columns: 1fr 2fr 2fr;
  margin: 75px 40px 0px 40px;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.8),
      rgba(39, 32, 68, 0.8)
    ),
    url(../images/footer2.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 100px;
}

footer h2 {
  font-weight: 700;
  font-size: 70px;
  line-height: 30px;
  margin-left: 320px;
  margin-bottom: 40px;
  margin-top: 40px;
  color: #aa6833;
}

footer h3 {
  font-weight: bolder;
  font-size: 40px;
  line-height: 30px;
  color: white;
  margin-bottom: 30px;
}

footer p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
}

@media (max-width: 960px) {
  header {
    padding: 20px 20px 20px 20px;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  main h3 {
    font-size: 32px;
  }

  .intro-text {
    margin-top: 20px;
  }

  .offerings {
    padding: 20px 20px 20px 20px;
  }

  .offerings h3 {
    font-size: 34px;
  }

  .offerings h4 {
    font-size: 18px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16 / 9;
  }

  .image-gallery {
    padding: 10px;
    margin-bottom: 20px;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(18, 12vw);
    grid-gap: 7px;
  }

  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: none;
    display: block;
  }

  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 7;
    margin-bottom: 0;
  }

  .gallery__item--2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-bottom: 0;
  }

  .gallery__item--3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 7;
    margin-bottom: 0;
  }

  .gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 10;
    margin-bottom: 0;
  }
  .gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 10;
    grid-row-end: 13;
    margin-bottom: 0;
  }

  .gallery__item--6 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 13;
    grid-row-end: 19;
    margin-bottom: 0;
  }
  .gallery__item--7 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 13;
    grid-row-end: 16;
    margin-bottom: 0;
  }
  .gallery__item--8 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 16;
    grid-row-end: 19;
    margin-bottom: 0;
  }

  footer {
    padding: 20px;
  }

  footer h2 {
    display: none;
  }

  footer h3 {
    font-size: 36px;
  }
  footer img {
    display: none;
  }

  .grid-3-col-with-first-col-narrow {
    margin: 0px;
    padding: 0px;
  }
}
